/*popup*/
.modal{
  display: grid; /* Hidden by default */
  position: fixed; /* Stay in place */

  grid-template-columns: 60%;
  justify-items: center;
  align-items: center;
  z-index: 99999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*Popup content*/
.modal_content {
  display: grid; 

  background-color: white;
  position: absolute;
  margin: auto;
  padding: 20px;
  border: 2px solid black;
  /*width: 60%;*/
    justify-items: center;
  align-items: center;
}

button{
	background-color: white;
	border-radius: 10px;
	padding: 5px;
}