

nav{
    display: grid;
    color: black;
    font-size: 1.1em;
    background-color:white ;
/*    grid-template-columns:1fr 1fr ;
    justify-content: center; */
    padding-left: 50px;
    width: 100%;
    position: fixed;
    z-index: 9999; 
    /*z-index is to make sure that there won't be any element rendered on top of the fixed navbar*/
    box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.1)
}

ul{
    display: grid;
    grid-template-columns:20% auto ;
    /*grid-template-columns:repeat(auto-fit , minmax(300px, 1fr));*/
   
    justify-content: left; 
    list-style-type: none;

}

.navButton{
    /*border: 1.5px solid black;*/
    border-radius: 30px;
    padding: 10px;
    color: black;
    text-decoration:none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: none;
    transition: all 0.3s ease 0s;



}


.navButton:visited {
    color: black;
    text-decoration:none;
}

.navButton:hover {
  background-color: #4ea4ba;
  box-shadow: 0px 15px 20px rgba(169, 211, 222,0.4);
  color: #fff;
  transform: translateY(-1px);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr)) ;
  grid-gap: 1rem;
  Align-items:center;
  row-gap: 1em;
  padding: 50px 100px;

}

.mapSection{
    padding-top: 100px;
}


h1{
    font-size: 5rem;
}


#footer{
    text-align: left;
    background-color: black;
    color: #e0e0e0;
    font-size: 0.8em;
    padding: 15px 100px;
}


.footerContent{
    margin: 0px;
    padding: 6px;
}